

<h2>Movies</h2>

<table class="table  table-bordered" id="movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section Scripts{
    <script>
        $(document)
            .ready(function() {
                

                var moviesTable = $("#movies")
                    .DataTable({
                        ajax: {
                            url: "/api/movies",
                            dataSrc: ""
                        },

                        columns: [
                            {
                                data: "name"
                            },
                            {
                                data: "genre.name"
                            }
                        ]

                    });
            });
    </script>
}